@model MovieDetailsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        @{
            System.Diagnostics.Debug.Assert(Model.SearchResult != null, "Model.SearchResult != null");
        }
        @Model.SearchResult.Title</h1>
    
    <p>Description: @Model.SearchResult.Description</p>
    <p>Director: @Model.SearchResult.Director</p>
    <p>Genre: @Model.SearchResult.Genre</p>
    <p>Duration: @Model.SearchResult.Duration</p>
    
    <hr>
    
    <h3>Ratings:</h3>
    
    <ul>
        @foreach (var rating in Model.SearchResult.Ratings)
        {
            <li><b>Review:</b> @rating.RatingNote  <b>Evaluation:</b> @rating.Evaluation</li>
        }
    </ul>

    <form action="/Rating/@Model.SearchResult.Title" method="post">
        <input type="text" id="author" name="author" placeholder="Your name" maxlength="20" required>
        <input type="text" id="rating" name="rating" placeholder="Your review" maxlength="50" required>
        <input type="number" id="evaluation" name="evaluation" placeholder="Your evaluation" min="1" max="10" required>
        <input type="submit" value="Add review">
    </form>
</div>