@model MovieDetailsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.SearchResult.Title</h1>
    
    <p>Description: @Model.SearchResult.Description</p>
    <p>Director: @Model.SearchResult.Director</p>
    <p>Genre: @Model.SearchResult.Genre</p>
    <p>Duration: @Model.SearchResult.Duration</p>
    
    <hr>
    
    <h3>Ratings:</h3>
    
    <ul>
        @foreach (var rating in Model.SearchResult.Ratings)
        {
            <li>@rating.RatingNote</li>
        }
    </ul>

    <form action="/Rating/@Model.SearchResult.Title" method="post">
        <input type="text" id="author" name="author" placeholder="Your name" required>
        <input type="text" id="rating" name="rating" placeholder="Your review" required>
        <input type="submit" value="Add review">
    </form>
</div>